.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 1000px;
}

@media (max-width: 1244px) {
  .product-list {
    justify-content: center;
  }
}

.product-item {
  display: flex;
  width: 400px;
  margin: 0 30px 30px;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 10px 10px;
}