.wrapper {
  max-width: 1260px;
  margin: 0 auto;
}

.content {
  padding-top: 40px;
  display: flex;
}

.content-sort {
  display: block;
  width: 350px;
  padding-left: 30px;
}

.content-sorting {
  margin-top: 40px;
}

.content-price {
  margin-bottom: 20px;
}


.content-from {
   display: block;
   width: 80px;
   height: 25px;
   margin-right: 20px;
   border-radius: 5px;
}

.content-to {
  display: block;
  width: 90px;
  height: 25px;
  border-radius: 5px;
}

.usd {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 30px;
  width: 50px;
  transition: transform 0.5s;
}

.usd:hover {
  transform: scale(0.9)
}

.uah {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 30px;
  width: 50px;
  transition: transform 0.5s;
}

.uah:hover {
  transform: scale(0.9)
}

.content-inner-label {
  display: flex;
  margin-bottom: 30px;
}

.currency {
  margin-bottom: 10px;
}

.content-sort {
  margin-top: 30px;
  margin-bottom: 10px;
}

.radio-button {
  display: block;
}

.radio-input {
  margin-right: 10px;
}

.new-product-label {
  display: block;
}

.new-product {
  margin-top: 80px;
}
 
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
 
 .new-product-input {
   width: 130px;
 }

 .new-price {
   margin-left: 5px;
 }

 